/** #name is for <div id = "name"> ... </div> **/
html {
    /**Left Blank**/

}

body {
    margin: 0; 
    /**padding: 0;**/
    padding-top: 50px;
    border-top: 0px solid transparent;
    background-color: 	#F0F8FF;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0b0b0b; 
}

in {
    float: left
}

in a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;                             
}

/*inX{
    float: left;
}

inX a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;                             
}**/
                                              
in a:hover {
    background-color: #B0C4DE;
}

#content {
    text-align: center;
    width: 100%;
    padding: 0px;
    list-style-type: none;
    margin: 0px;
}


footer {
    bottom: 0;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%
}
                                                  
.active {
    background-color: #4CAF50;
}

.layout {
    width: 80%;
    margin: 0 auto;
}
test ul {
    list-style-type: none;
    padding: 0;
}
test ul a {
    text-decoration: none;
}
.boxedstretch {
    background-color: #F0F8FF;
    width: 100%;
}
.boxedcover {
    background: #00FF00;
}
.boxedleft {
    float:left;
    background-color: #008B8B;
    width: 49%;
    margin-bottom: 10px;
}
 .boxedright {
    float:right;
    background-color: #A9A9A9;
    width: 49%;
    margin-bottom: 20px;
}
